<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>제물포GO를 소개합니다</title>
        
        <style>
          *{
              text-align: center;
          }

          #title{
            font-size: 40px;
          }
          
        </style>

    </head>
    <body>
        <p id="title"><strong>제물포GO 여행패스</strong></p>
        <hr>
        <br/>
        <h1>제물포GO란?</h1>
        <br/>
        <p id="main" >제물포GO는 제물포구에 위치한 명소 및 제휴 가게를 LLM을 이용해</p>
        <p id="main" >적절하게 혼합한 형태의 여행 경로 추천 및 할인을 제공하는 여행 패스 시스템이다.</p>
        <p id="main" >제물포GO는 쇠퇴하는 인천 원도심인 제물포 일대 상권을 살리고자 개발되었다.</p>
        <p id="main" >제물포 상권을 살려 지역 상권과 관광객의 상생을 목적으로 개발되었다.</p>
        <p id="main" >우리 개발진의 노력이 제물포 상권 활력에 도움이 됐으면 좋겠다.</p>
        <br/> <br/>
        <h2>제물포GO를 개발한 위대한 3인</h2>
        <br/>
        <p>1. 남현우 (인하대학교 재학생)</p>
        <p>제물포GO 웹사이트 개발 직책</p>

    </body>
</html>